/* header {
    background-color: rgb(42, 243, 233);
    border: 3px solid black;
}

a {
    text-decoration: none;
}

nav a:hover {
    color: blue;
    font-weight: bold;
}

.detail-info {
    color: green;
} */